<div class="container">
  <h2>Zero Traffic Analyzer</h2>
  <div class="form-row">
    <div class="form-group">
      <label for="start">Enter Date Time:</label>
      <input
        class="form-control"
        type="datetime-local"
        [(ngModel)]="endDate"
        id="start"
      />
    </div>

    <div class="form-group">
      <button (click)="submitDates()" class="submit-btn" [disabled]="isLoading">
        <i class="bi bi-send me-2"></i> Submit
      </button>
    </div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="isLoading" class="loader-container">
  <div class="loader"></div>
</div>

<!-- Content -->
<div *ngIf="!isLoading" class="content">
  <!-- Left Section: Response Table -->
  <div class="left-section">
    <h4>Response Data :</h4>
    <table *ngIf="responseData.length > 0" class="styled-table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Yesterday's Count</th>
          <th>Today's Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of responseData">
          <td>{{ item.clientId }}</td>
          <td>{{ item.yesterdayCount }}</td>
          <td>{{ item.todayCount }}</td>
        </tr>
      </tbody>
    </table>

    <div
      *ngIf="clientReport.clients.length > 0"
      style="margin-top: 20px; font-style: italic; color: #27ae60"
    >
      <!-- Display your data -->
      Traffic looks good for all clients.
    </div>
  </div>

  <!-- Right Section: Copilot Response -->
  <div class="right-section">
    <h4>Generated Response:</h4>
    <!-- <p>{{ copilotResponse }}</p> -->
    <div [innerHTML]="copilotResponseSanitized"></div>
  </div>
</div>
